.caja_fondo_index
{
	display: flex;
	min-width: 30%;
	min-height: 30%;
	flex-wrap: wrap;
	position:absolute;
	top: 25%;
	left: 25%;
}

.imagen_fondo_index{
	min-width: 75%;
	min-height: 100%;
}

#titulo_index_eshop{
	position: absolute;
	left: 50%;
}

#link_index_ingresar{
	color: #1a8cff;
	font-size: 20px;
}

#titulo_login_eshop{
	position: absolute;
	left: 50%;
}

#link_login_regresar{
	color: #1a8cff;
	font-size: 20px;
}

